target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
.factorypath
.history/

### Logs & Temp ###
*.log
*.txt
*.err
tmp/

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
# Thường không nên đẩy config có pass lên git, nhưng nếu đây là bài tập thì có thể để lại.
# application.properties